@import url(./fonts.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button, input, textarea {
  border: none;
  outline: none;
  resize: none;
  background: transparent;
  font-family: 'Roboto';
}

body {
  font-family: 'Roboto';
}

.container {
  max-width: 1158px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}